
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateNewSource</title>
</head>
<body>

    <form>
        <label>
            Source Name
        </label>
        <input type="text" />

    </form>
    <input type="submit" />

</body>
</html>
