@model List<LanguageTrainer.API.Models.Mistake>

<!DOCTYPE html>

<html>
<head>
    <link rel="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" />
    <title>
        Prototype Mistakes CRUD
    </title>
</head>
<body>

    <div class="ui padded centered grid">

        <div class="column">

            <h2> Prototype Mistakes CRUD</h2>

            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>

                        <th>
                            Source
                        </th>

                        <th>
                            Error
                        </th>

                        <th>
                            Answer
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var mistake in Model)
                    {
                        <tr>
                            <td>
                                @mistake.Id
                            </td>

                            <td>
                              @if(@mistake.Source == null)
                              {
                                   <p>No Source</p>
                              }else
                              {
                                  @mistake.Source.Id
                              }
                            </td>

                            <td>
                                @mistake.Error
                            </td>
                            <td>
                                @mistake.Answer
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            <div class="ui three column grid">
                <div class="column">

                    @await Html.PartialAsync("Create",
                                            new LanguageTrainer.API.ViewModels.CreateMistakeViewModel()
                                           {
                                               MistakeDto = new LanguageTrainer.API.Models.MistakeDto(),
                                               SourceTypes = new List<LanguageTrainer.API.Models.SourceType>(),
                                               Sources = new List<LanguageTrainer.API.Models.Source>()
                                           });

                </div>
            </div>

        </div>

    </div>


</body>
</html>